version: '3'

services:
  mysqlsrv:
    image: mysql:5.7
    restart: "no"
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "compras"
    ports:
      - "3307:3306"
    volumes:
      - ./docker-data/db-data:/var/lib/mysql
    networks:
      - mysql-compose-network

  adminer:
    image: adminer
    restart: "no"
    ports:
      - 8080:8080
    networks:
      - mysql-compose-network

networks:
  mysql-compose-network:
    driver: bridge
